In [7]:
import OpenSSL

In [3]:
import pymysql

In [10]:
db = pymysql.connect(host='localhost',
                    port=3306,
                    user='root',
                    passwd='qwerqwer1!',
                    db='donggi',
                    charset='utf8')

In [12]:
cursor = db.cursor()

In [13]:
sql= """CREATE TABLE test_table(
         idx  INT UNSIGNED NOT NULL AUTO_INCREMENT PRIMARY KEY,
         name VARCHAR(256) NOT NULL,
         nick VARCHAR(256) NOT NULL
         );"""

In [14]:
cursor.execute(sql)

0

In [15]:
cursor.execute('show tables')

1

In [16]:
db.commit()

In [17]:
db.close()

In [19]:
import pymysql
# use database
db= pymysql.connect(host='localhost',
                     port=3306,
                     user='root',
                     passwd='qwerqwer1!',
                     db='donggi',
                     charset='utf8')
# create table
try:
    with db.cursor() as cursor:
        sql= """
            CREATE TABLE test_table(
                   idx  INT UNSIGNED NOT NULL AUTO_INCREMENT PRIMARY KEY,
                   name VARCHAR(256) NOT NULL,
                   nick VARCHAR(256) NOT NULL,
            );
        """
        cursor.execute(sql)
        db.commit()
finally:
    db.close()

In [21]:
db= pymysql.connect(host='localhost',
                     port=3306,
                     user='root',
                     passwd='qwerqwer1!',
                     db='donggi',
                     charset='utf8')

In [22]:
# Insert query
sql= """INSERT INTO test_table(name, nick)
         VALUES('test_name', 'test_nickname');"""

with db.cursor() as cursor:
    cursor.execute(sql)
    db.commit()

In [26]:
sql= """SELECT * FROM test_table"""

In [28]:
cursor = db.cursor()
cursor.execute(sql)
result = cursor.fetchall()

In [32]:
#update query
sql= """UPDATE test_table SET name='%s', nick='%s'
         WHERE name='%s' """ % ('new_test','new_nick','test_name')
          
# SQL query 실행
cursor.execute(sql)
 
# 데이터 변화 적용
db.commit()

In [37]:
sql= """INSERT INTO test_table(name, nick)
         VALUES('test_name', 'test_nickname'),('one','1');"""

In [ ]:
cursor.execute(sql)
 
# 데이터 변화 적용
db.commit()

In [40]:
result = cursor.fetchall()
print(result)

()